<header class="masthead">
  <div class="inner">
      <h3 class="masthead-brand">
          <img src="assets/images/logo_marzen_verde.png" alt="Home" width="200" height="45">
      </h3>
      <nav class="nav nav-masthead justify-content-center">
          <a *ngIf="!(user|async)?.uid" class="nav-link" href="login">Login</a>
          <a *ngIf="!(user|async)?.uid" class="nav-link" href="signup">Signup</a>
          <a *ngIf="(user|async)?.uid" class="nav-link" routerLink="login" (click)="logout()">Logout</a>
      </nav>
  </div>
</header>



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active" style="padding-top: 6px;">
          <a class="nav-link" href="#">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <button class="btn btn-outline-success my-2 my-sm-0">Sign Up</button>
          </a>
        </li>
      </ul>
    </div>
  </nav> -->