<div class="container">
    <div class="card" style="width: 17rem;">
        <img src="assets/images/882942.jpg" class="card-img-top" alt="...">
        <div class="card-body" style="color: dimgrey">
            <h5 class="card-title">Yoga</h5>
            <p class="card-text">Prática que une o corpo à mente através de alongamento, respiração, postura física, purificação, auto relaxamento e meditação.</p>
            <a href="#" class="btn btn-primary">Participar</a>
        </div>
    </div>

</div>